version: 2

before:
  hooks:
    - go mod tidy

builds:
  - id: terraform-provider-${provider_name}
    main: ./cmd/${provider_name}
    binary: terraform-provider-${provider_name}
    flags:
      - -trimpath
    ldflags:
      - -s -w -X main.version={{.Version}} -X main.commit={{.Commit}}
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - amd64
      - arm64

archives:
  - formats: ["zip"] # Upgraded from 'format: zip' to fix v2 deprecation warnings
    name_template: "terraform-provider-${provider_name}_{{ .Version }}_{{ .Os }}_{{ .Arch }}"
    files:
      - README.md
      - LICENSE

checksum:
  name_template: "terraform-provider-${provider_name}_{{ .Version }}_SHA256SUMS"
  algorithm: sha256

snapshot:
  # Intercepts your workflow calculated version tag dynamically during snapshot compilation
  version_template: "{{ .Env.NEXT_VERSION_TAG }}"

release:
  disable: true # We publish manually via the workflow
