version: 2

before:
  hooks:
    - go mod tidy

builds:
  - id: terraform-provider-${provider_name}
    main: .
    binary: terraform-provider-${provider_name}
    flags:
      - -trimpath
    ldflags:
      - -s -w -X main.version={{.Version}} -X main.commit={{.Commit}}
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - amd64
      - arm64

archives:
  - formats: ["zip"]
    name_template: "terraform-provider-${provider_name}_{{ .Version }}_{{ .Os }}_{{ .Arch }}"
    files:
      - README.md
      - LICENSE
      - docs/**/*

checksum:
  name_template: "terraform-provider-${provider_name}_{{ .Version }}_SHA256SUMS"
  algorithm: sha256

snapshot:
  version_template: "{{ .Env.NEXT_VERSION_TAG }}"

signs:
  - id: terraform-provider-signing
    cmd: gpg
    args:
      - "--batch"
      - "--no-tty"
      - "--pinentry-mode"
      - "loopback"
      - "--local-user"
      - "{{ .Env.GPG_KEY_ID }}"
      - "--detach-sign"
      - "--output"
      - "${signature}"
      - "${artifact}"
    artifacts: checksum